.alignLeft {
   text-align: left !important;
}

.alignRight {
   text-align: right !important;
}

a > .accordionLink {
   text-decoration: none;
   font-size: 1.2rem;
}

a:hover > .accordionLink {
   color: var(--colorOrange);
   text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
}

.accordion-body {
   background-color: --var(--colorOrange) !important;
}



.accordion-button {
   /* background-color: #d0f1f7 !important; */
   background-color: #ff0000 !important;
   border: 0 !important;
}

.accordion-button:focus {
   box-shadow: 2px 2px red;
   background-color: #ff0000 !important;
}

.accordion-button:not(.collapsed) {
/* color: #212529; */
   background-color: #29008a;
   box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
