main h1 {
   text-align: center;
   margin-bottom: 18px;
 }
 
 /* here the .main-header is passed as a prop to a component's h1 element. in this case it is the main tag component */
 main h1.main-header {
   text-align: center;
   margin-bottom: 18px;
   color: green;
 }
 
 main p {
   max-width: 50%;
   text-align: center;
   margin: 0 auto;
   line-height: 1.3;
 }
 