footer {
  display: flex;   
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(0, 71, 171, 0.8);
  padding: 2rem 3%; /* top bottom 9 px and left right 3%*/
  /* margin-top: 3rem; */
}

footer h3 {
  color: var(--fontVintage);
}

footer h3 a {
  color: var(--fontVintage);
  font-size: 1rem;
  text-decoration: none;
}

.aHover {
    text-decoration: none;
}
  
.aHover:hover {
  text-decoration: none;
    color: var(--colorMustard);
  }
